@import url(reset.css);
body {
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  text-align: center;
  background: #abbaab;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #ffffff, #abbaab);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #ffffff, #abbaab); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  clip-path: inset(50%);
  border: 0;
}
.disable-select {
  -webkit-user-select: none;  
  -moz-user-select: none;    
  -ms-user-select: none;      
  user-select: none;
}
.logo { font-size: 42px; }
.logo a { text-decoration: none;}
.logo span {
  font-size: 18px;
  display: block;
}
main {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

}
.header {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}
.header nav ul {
  list-style: none;
}
.home-leads {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.home-leads li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 200px;
  min-width: 200px;
  margin: 5px;
  padding: 0 20px;
  background: #8E0E00;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #1F1C18, #8E0E00);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #1F1C18, #8E0E00); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.home-leads li a {
  font-size: 24px;
  padding: 50px;
  color: #fff;
  width: 100%;
  text-decoration: none;
}
.home-leads li a.call {
  padding: 10px;
}
.home-leads button {
  background: none;
  color: white;
  font-size: 24px;
  border: none;
}
.card-title {
  font-size: 24px;
  color: #fff;
}